  body { 
  margin: 0; 
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  background: #fbf7f5;
  color: #1f1f1f;
  text-align: center;
}
  .services { padding: 40px; }
.cards {
  text-align: center;
}
.card {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: 10px;
  background: #fff;
  border: 1px solid #f0e8e6;
  border-radius: 35px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  gap: 50px;
  
}
.card:hover{
background-color:rgba(255, 229, 218, 0.185);
background-size: 20px;
transform:scale(1.05);
}
.card img { width: 64px; margin: 0 auto auto; }
.card h3 { margin: 6px 0 10px; color: #ff6b45; font-size: 20px; }
.card p { margin: 0; color: #6b6b6b; }

